# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/
build/
dist/

# production
.vercel

# env
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
.idea/
.vscode/

# logs
logs/
*.log
